.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  background-color: #d4e8e1;
  margin-top: 5.8vh;
}

.about .aboutTop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.about .aboutTop img {
  width: 100%;
  box-shadow: 2px 5px 3px grey;
  border-radius: 1rem;
  border: 1px solid black;
  animation: bounce 1.5s alternate infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(-0.25rem);
  }
  100% {
    transform: translateY(0.25rem);
  }
}
.about p {
  font-size: 1.1rem;
  width: 100%;
  padding: 5px;
  margin-left: 10px;
  text-indent: 2rem;
  color: #11252d; /* Dark Blue */
  letter-spacing: 0.1rem;
}

.about svg {
  width: 100%;
  height: 15vh;
  margin-top: 20px;
  margin-bottom: -11.7vh;
  filter: drop-shadow(0 -3px 1px #11252d);
}

.animatedAngled .animatedAngledPath {
  fill: #125665;
  animation: animateAngle 3s linear infinite;
}

@keyframes animateAngle {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(10px);
  }
}

.dripContainer {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #2fb7cf;
}

.dripContainer h1 {
  height: 20%;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  border-left-style: ridge;
  border-top-style: ridge;
  border-right-style: ridge;
  border-bottom-style: ridge;
  border-right-color: #125665;
  border-bottom-color: #125665;
  color: #11252d; /* Dark Blue */
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.dripContainer svg {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 -3px 1px #125665);
  margin-bottom: 0px;
}

.dripContainer svg path {
  animation: 3.5s dripEffect linear infinite alternate;
}

@keyframes dripEffect {
  0% {

  }
  100% {
    d: path('M 0 30 Q 15 0, 30 30 L 30 130 Q 45 160, 60 130 L 60 65 Q 75 35, 90 65 L 90 110 Q 105 140, 120 110 L 120, 30 Q 135 0 150 30 L 150 120 Q 165 150, 180 120 L 180 30 Q 195 0 210 30 L 210 120 Q 225 150, 240 120 L 240 70 Q 255 40, 270 70 Q 285 100, 300 70 L 300 30 Q 315 0, 330 30 L 330 105 Q 345 135, 360 105 Q 375 75, 390 105 L 390 120 Q 405 150, 420 120 L 420 60 Q 435 30, 450 60 L 450 90 Q 465 120, 480 90 L 480 50 Q 495 20, 510 50 L 510 120 Q 525 150, 540 120 L 540 30 Q 555 0, 570 30 Q 585 60, 600 30 Q 615 0, 630 30 L 630 120 Q 645 150, 660 120 L 660 50 Q 675 20, 690 50 L 690 75 Q 705 105, 720 75 L 720 30 Q 735 0, 750 30 L 750 115 Q 765 145, 780 115 L 780 40 Q 795 10, 810 40 Q 825 70, 840 40 L 840 40 Q 855 10, 870 40 Q 885 70, 900 40 Q 915 10, 930 40 L 930 120 Q 945 150, 960 120 L 960 30 Q 975 0, 990 30 L 990 100 Q 1005 130, 1020 100 Q 1035 70, 1050 100 Q 1065 130, 1080 100 L 1080 35 Q 1095 5, 1110 35 L 1110 110 Q 1125 140, 1140 110 L 1140 30 Q 1155 0, 1170 30 L 1170 115 Q 1185 145, 1200 115 L 1200 30Q 1215 0, 1230 30 Q 1245 60, 1260 30 L 1260 150 L 0 150 Z');
  }
}
