/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.homeContainer {
  width: 98%;
  margin: auto;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9d2f), to(#ff6126));
  background-image: -o-linear-gradient(#ff9d2f, #ff6126);
  background-image: linear-gradient(#ff9d2f, #ff6126);
  margin-top: 5vh;
  height: 70vh;
}

svg {
  width: 100%;
}

.techSkewBox {
  background: yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 30vh;
}

.techSkewBox svg {
  width: 100%;
  height: 100%;
}

.techSkewBox p {
  position: relative;
  top: 100px;
  color: white;
  font-size: 36px;
  -webkit-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
          transform: rotate(5deg);
  width: 50%;
  margin: 5px 0px 15px 0px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-style: wavy;
          text-decoration-style: wavy;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (max-width: 699px) {
  .svg--lg {
    display: none;
  }
}

@media (min-width: 700px) {
  .svg--sm {
    display: none;
  }
}

.techLanguages {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.columnlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.columnlist li {
  border: 1px solid black;
  padding: 10px 15px 10px 15px;
  margin: 0px 6px 7px 0px;
  -webkit-box-shadow: 2px 3px 3px grey;
          box-shadow: 2px 3px 3px grey;
  text-shadow: 1px 1px 1px darkblue;
  background-color: white;
  color: blue;
}

.techLanguages svg {
  width: 100%;
  height: 15vh;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-filter: drop-shadow(0 -3px 1px darkred);
          filter: drop-shadow(0 -3px 1px darkred);
}

.techLibraries {
  width: 100%;
  background-color: red;
  margin-top: -11.3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.animatedSquare {
  width: 100%;
  height: 15vh;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-filter: drop-shadow(0 -3px 1px darkgreen);
          filter: drop-shadow(0 -3px 1px darkgreen);
}

.animatedAngled .animatedAngledPath {
  fill: red;
  -webkit-animation: animateAngle 3s linear infinite;
          animation: animateAngle 3s linear infinite;
}

.animatedSquare .animatedSquarePath {
  fill: green;
  -webkit-animation: animateSquare 3s linear infinite;
          animation: animateSquare 3s linear infinite;
}

@-webkit-keyframes animateAngle {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

@keyframes animateAngle {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

@-webkit-keyframes animateSquare {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes animateSquare {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@-webkit-keyframes animateWavy {
  0% {
    -webkit-transform: translateX(0px) scaleX(2.043);
            transform: translateX(0px) scaleX(2.043);
  }
  100% {
    -webkit-transform: translateX(-122px) scaleX(2.043);
            transform: translateX(-122px) scaleX(2.043);
  }
}

@keyframes animateWavy {
  0% {
    -webkit-transform: translateX(0px) scaleX(2.043);
            transform: translateX(0px) scaleX(2.043);
  }
  100% {
    -webkit-transform: translateX(-122px) scaleX(2.043);
            transform: translateX(-122px) scaleX(2.043);
  }
}

.techTools {
  background-color:green;
  width: 100%;
  margin-top:-12.1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.techTools .wavy {
  width: 100%;
  height: 13vh;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-filter: drop-shadow(0 -1px 1px black);
          filter: drop-shadow(0 -1px 1px black);
}

.techTools .wavy path {
  width: 100%;
  fill: white;
  -webkit-animation: animateWavy 3s linear infinite;
          animation: animateWavy 3s linear infinite;
}

.techOther {
  width: 100%;
}

button {
  width: 15%;
  height: 6vh;
  border-radius: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

button:first-of-type {
  margin-bottom: 20px;
}

.midButton {
  margin-top: 60px;
}

.techOther svg {
  width: 100%;
  height: 5vh;
}
