.misc {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #d4e8e1;
  font-size: 1.1rem;
}

.misc .pointedDiv {
  display: flex;
  flex-direction: column;
  background-color: #2fb7e7;
}

.misc .rowMisc {
  display: flex;
}

.misc .rowMisc .blogMisc {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.misc .rowMisc .courseMisc {
  display: flex;
  flex-direction: column;
  flex: 2 1 auto;
}
