.misc {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.misc .rowMisc {
  display: flex;
}

.misc .rowMisc .blogMisc {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.misc .rowMisc .courseMisc {
  display: flex;
  flex-direction: column;
  flex: 2 1 auto;
}
