.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.1rem;
  background-color: #d4e8e1;
}

.projects h1 {
  width: 25%;
  align-self: center;
  text-align: center;
  transform: rotate(-3deg);
  margin: 0rem 0rem -1.25rem 0rem;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  color: #11252d;
  border-top-style: groove;
  border-left-style: groove;
  border-right-style: groove;
  border-color: #d4e8e1;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #d4e8e1;
}

.projects .projectsSkew {
  background-color: #199bb1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.projects .projectsSkew svg {
  width: 100%;
  height: 8vh;
  margin-bottom: -0.55vh;
  align-items: flex-end;
  fill: #d4e8e1;
}

.projects .topRow {
  width: 95%;
  margin: auto;
  display:flex;
  flex-direction: column;
}

.projects .bottomRow {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.projects .projectCard {
  width: 100%;
  border: 1px solid #199bb1;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 6px #11252d;
}

.projects .projectCard h4, .projects .projectCard h5 {
  text-align: center;
}

.projects .projectCard1, .projects .projectCard2, .projects .projectCard3, .projects .projectCard4, .projects .projectCard5, .projects .projectCard6 {
  display: flex;
  margin-top: 5vh;
  width: 100%;
}

.projects .projectCard1 img, .projects .projectCard2 img, .projects .projectCard3 img, .projects .projectCard4 img, .projects .projectCard5 img, .projects .projectCard6 img {
  width: 60%;
  border-radius: 0.5rem;
}
.project1Info {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.project1Info p{
  height: 50%;
}
.projectLinks {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  justify-content: space-around;
  text-align: center;
}

.projectLink{
  width: 40%;
  text-decoration: none;
  color: #11252d;
  box-shadow: 2px -4px 1px #11252d;
  border: 1px solid #125665;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  transition: 0.3s;
}

.srcLink {
    text-decoration: underline;
    text-decoration-style: double;
    color: #11252d;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    transition: 0.3s;
}

.srcLink:hover {
  background-color: #125665;
  color: #d4e8e1;
}

.projectLink:hover {
  background-color: #125665;
  color: #d4e8e1;
}

.dayProjects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dayProjects .dayProjectsList {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.dayProjects .dayProjectsList .dayProjectCard {
  width: 19%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 0px 5px 5px 5px;
}

.dayProjectCard h5 {
  text-align: center;
}

.animatedSquare {
  width: 100%;
  height: 15vh;
  margin-top: 20px;
  margin-bottom: -12.1vh;
  filter: drop-shadow(0 -3px 1px #125665);
}

.animatedSquare .animatedSquarePath {
  fill: #2fb7cf;
  animation: animateSquare 3s linear infinite;
}


@keyframes animateSquare {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}

.numRow {
  width: 100%;
  display: flex;
}
.numRow button {
  width: 20%;
}

@media (max-width: 750px) {
  .projects h1 {
    width: 45%;
    transform: rotate(-4.5deg);
  }
  .projects .projectCard1, .projects .projectCard2, .projects .projectCard3, .projects .projectCard4, .projects .projectCard5, .projects .projectCard6 {
    display: flex;
    flex-direction: column;
  }
  .projects .projectCard1 img, .projects .projectCard2 img, .projects .projectCard3 img, .projects .projectCard4 img, .projects .projectCard5 img, .projects .projectCard6 img {
    width: 100%;
  }
  .projects {
    width: 100%;
    text-align: center;
  }
  .projects ul {
    width: 93%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.6rem;
  }
  .projects ul li {
    width: 23%;
    border: 1px solid black;
  }
  .projectLinks a {
    padding: 1px 6px 1px 6px;
    border: 1px solid black;
  }
}

@media (max-width: 500px) {
  .numRow {
    width: 98%;
  }
  .projects h1 {
    width: 50%;
    transform: rotate(-6.5deg);
    margin-bottom: -1.6rem;
  }

  .dayProjects .dayProjectsList .dayProjectCard {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 0px 5px 5px 5px;
  }

  .dayProjectCard h5 {
    text-align: center;
  }
}
