/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.skills {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #d4e8e1;
}

.skills h1 {
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  -webkit-transform: rotate(2.9deg);
      -ms-transform: rotate(2.9deg);
          transform: rotate(2.9deg);
  margin: 3rem 0rem -1.25rem 0rem;
  text-decoration: underline;
  -webkit-text-decoration-style: wavy;
          text-decoration-style: wavy;
  -webkit-text-decoration-color: #d4e8e1;
          text-decoration-color: #d4e8e1;
  color: #2fb7cf; /* Dark Blue */
  font-size: 2rem;
  letter-spacing: 0.2rem;
  border-left-style: dashed;
  border-right-style: dashed;
}

.skills .slantSkill {
  background-color: #125665;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills .slantSkill svg {
  width: 100%;
  height: 9vh;
  margin-bottom: -0.5vh;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  fill: #d4e8e1;
}

.skills .rowTech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 1.5rem;
}

.skills .rowTech div {
  width: 25%;
  text-align: center;
}

.rowTech h4 {
  /*border-bottom: 1px solid black;*/
  /*border-left: 1px solid black;*/
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  text-decoration: underline;
  -webkit-text-decoration-style: double;
          text-decoration-style: double;
  -webkit-text-decoration-color: #125665;
          text-decoration-color: #125665;
  color: #11252d; /* Dark Blue */
  width: 100%;
}

.skills .rowTech ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding-inline-start: 0px;
}

.skills .rowTech ul li {
  background: #d4e8e1;
  color: #11252d;
  width: 95%;
  padding: 5px 0px;
  font-size: 0.85rem;
  border: 1px solid #11252d;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 0.1rem;
}

.skills .rowTech ul li:hover {
  background: #11252d;
  color: #d4e8e1;
  border: 0.3rem ridge #125665;
  font-size: 1.2rem;
  border-top-color: #2fb7cf;
  border-left-color: #2fb7cf;
}

.wavy {
  width: 100%;
  height: 13vh;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-filter: drop-shadow(0 -3px 1px #11252d);
          filter: drop-shadow(0 -3px 1px #11252d);
}

.wavy path {
  width: 100%;
  fill: #199bb1;
  -webkit-animation: animateWavy 3s linear infinite;
          animation: animateWavy 3s linear infinite;
}

@-webkit-keyframes animateWavy {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
  }
}

@keyframes animateWavy {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
  }
}

@media (max-width: 1000px) {
  .skills h1 {
    width: 60%;
    -webkit-transform: rotate(3.7deg);
        -ms-transform: rotate(3.7deg);
            transform: rotate(3.7deg);
  }
}
@media (max-width: 850px) {
  .skills h1 {
    width: 70%;
  }
  .skills .rowTech {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0rem;
  }
  .languages, .libraries, .tools, .relatedSkills {
    width: 100% !important;
  }
  .skills .rowTech ul {
    height: auto;
    margin: 0 auto;
  }
  .skills .rowTech ul li {
    margin-left: 0px;
    width: 80%;
  }
}

@media (max-width: 700px) {
  .skills h1 {
    width: 80%;
    -webkit-transform: rotate(5.5deg);
        -ms-transform: rotate(5.5deg);
            transform: rotate(5.5deg);
  }
}

@media (max-width: 550px) {
  .skills h1 {
    width: 90%;
    font-size: 1.5rem;
    -webkit-transform: rotate(6.8deg);
        -ms-transform: rotate(6.8deg);
            transform: rotate(6.8deg);
    margin-bottom: -1.3rem;
  }
  .languages, .libraries, .tools, .relatedSkills {
    text-align: center;
    margin-left: 0.5rem;
    width: 95%;
  }
  .skills .rowTech ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .skills .rowTech ul li {
    width: 80%;
  }
  .wavy path {
    d: path('M 0 30 Q 30 0, 60 30 Q 90 60, 120 30 Q 150 0, 180 30 Q 210 60, 240 30 Q 270 0, 300 30 Q 330 60, 360 30 Q 390 0, 420 30 Q 450 60, 480 30 Q 510 0, 540 30 Q 570 60, 600 30 Q 630 0, 660 30 Q 690 60, 720 30 Q 750 0, 780 30 Q 810 60, 840 30 Q 870 0, 900 30 Q 930 60, 960 30 Q 990 0, 1020 30 Q 1050 60, 1080 30 Q 1110 0, 1140 30 Q 1170 60, 1200 30 Q 1230 0, 1260 30 Q 1290 60, 1320 30 Q 1350 0, 1380 30 L 1380 100 L 0 100 Z');
  }
  .wavy path {
    -webkit-animation: 4s animateWavy linear infinite;
            animation: 4s animateWavy linear infinite;
  }
  @-webkit-keyframes animateWavy {
    0% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
    100% {
      -webkit-transform: translateX(-120px);
              transform: translateX(-120px);
    }
  }
  @keyframes animateWavy {
    0% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
    100% {
      -webkit-transform: translateX(-120px);
              transform: translateX(-120px);
    }
  }
}
