.skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.skills h1 {
  text-align: center;
}

.skills .rowTech {
  display: flex;
}

.languages, .libraries, .tools, .relatedSkills {
  flex: 1 1 auto;
  margin: 0px 5px 0px 5px;
  text-align: center;
}

.skills .rowTech ul {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  height: 20vh;
  list-style-type: square;

}
